@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", serif;
    letter-spacing: 0.02em;
    line-height: 1.2
    
}

h2 {
    text-align: center;
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    color: black;
    font-family: "Roboto", serif;
    font-weight: 500;
    text-decoration: none;
}

.header {
    background-color: #E7E9FC;
}

.logoheader {
    font-weight: 700;
    font-family: "Raleway", serif;
    color: #4D5AE5;
}

.logoheader2 {
    color: black;
}

ul {
    list-style: none;
    }

p {
        font-family: "Roboto", serif;
        font-weight: 500;
}

.section1 {
    background-color: #2E2F42;
}

.section1mtext {
    text-align: center;
    color: white;
}

.section1button {
    border: none;
    color: white;
    background-color: #4D5AE5;
}

.section2 {
    background-color: #F4F4FD;
}

.footer {
    color: white;
    background-color: #2E2F42;
}